<h2>{{Celebrity.name}}'s Details</h2>

<p> <strong>Name:</strong> {{Celebrity.name}}</p>
<p> <strong>Occupation:</strong> {{Celebrity.occupation}}</p>
<p> <strong>Catch Phrase:</strong> {{Celebrity.catchPhrase}}</p>

<a href="/celebrities">Back!</a>
